body {
    /*Default font and fallback font*/
    font-family: 'Roboto', sans-serif;
    /*Default color*/    
    color: #333;    
}

img {
    /* limit image width */
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

a {
    color: $mainOrange;
}